<!-- <md-toolbar color="accent" id="topBar">Employee Directory App</md-toolbar>

<md-input-container id="searchSection">
  <input mdInput [(ngModel)]="term" placeholder="Seach Employee's name" value="" id="searchBar">
</md-input-container> -->
<div class="navbar navbar-warning">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="icon-bar"><a [routerLink]="['/employees']">Pokemon Employee Search</a></span>
    </div>
  </div>

</div>
<router-outlet></router-outlet>



<!-- <app-employee [search-term] = "term"></app-employee> -->
