#searchBar {
  width: 500px;
  font-size: 2em;

}
#searchSection {
  margin-left: 100px;
}
#topBar {
  margin-bottom: 100px;
}
#searchDisplay {
  background-color: #eee;
  width: 500px;
  margin-left: 10%;
}

.content-box {
  width: 70%;
  margin-left: 10%;
}
